.home{
    display: flex;
}

.productContainer{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    padding: 15px;
}

.filter{
    display: flex;
    width: 25%;
    flex-direction: column;
    background-color: lightslategray;
    height: 80vh;
    margin: 10px;
    padding: 20px;
    color: white;

}
.title{
    color:lime;
    font-size: 30px;
    font-weight: bold;
}
.filter > span{
    padding-bottom: 20px;
    display: flex;

}
.card{
    display: flex;
    justify-content: space-between;
}